@tailwind base;
@tailwind components;
@tailwind utilities;

html .EmojiPickerReact {
	--epr-emoji-size: 1.2rem;
	--epr-emoji-gap: 2px;
}

/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #cfe2ff31;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #d2e1ffc4;
	border-radius: 12px;
}

/* Scrollbar Hide */

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.postContainer {
	box-shadow:
		rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
